* {
    scroll-behavior: smooth;
}

.navbar {
    width: 100%;
    color: white;
    background-color: cornflowerblue;
    height: 70px;
    position: fixed;
}

.navbar .container {
    max-width: 1100px;
    margin: 0px  auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    margin-right: 10px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin: 0px 10px;
}

nav ul li input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    appearance: none;
    background-color: #434343;
    outline: none;
    border-radius: 10px;
    transition: .5s ease;
    cursor: pointer;
}

nav ul li input[type="checkbox"]:checked {
    background-color: #fcfcfc;
}

nav ul li input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 16px;
    background-color: #fcfcfc;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: .5s ease;
}

nav ul li input[type="checkbox"]:checked::before {
    transform: translateX(20px);
}

.dark {
    background-color: #434343;
    color: #fcfcfc;
}

.jumbotron {
    padding: 2em;
}

.jumbotron h1 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 25px;
}

.hero {
    background-color: cornflowerblue;
    color: white;
}

.hero img {
    margin-top: 100px;
    border-radius: 20px;
}

.hero .jumbotron p {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.about .grid-container {
    margin-top: 40px;
    width: 1300px;
    display: grid;
    grid: 150px / auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.about .grid-container .grid {
    text-align: center;
    font-size: 15px;
}

.catalog {
    padding: 5% 0;

}

.wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.catalog-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin: auto;
    background: gray;
    border-radius: 10px;
}

.catalog-item img {
    border-radius: 5px;
    margin: 10px 0;
}

.about {
    background-color: cornflowerblue;
    color: white;
}


#biodata {
  font-size: 20px;
  width: 55%;
  display: flex;
  margin: 2rem 0 3rem 0;
  justify-content: space-evenly;
  align-items: center;
  transform: translate(30%);
}

#biodata img {
  width: 25%;
  border-radius: 40px;
}

.footer {
    background-color: cornflowerblue;
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

@keyframes menghilang {
    0%    {opacity: 100%;}
    25%   {opacity: 85%;}
    50%   {opacity: 50%;}
    100%  {opacity: 0%;}
}

.hilang {
    animation-name: menghilang;
    animation-duration: 4;
}

@keyframes muncul {
    0%    {opacity: 0%;}
    25%   {opacity: 25%;}
    50%   {opacity: 50%;}
    100%  {opacity: 100%;}
}

.muncul {
    display: block;
    animation-name: muncul;
    animation-duration: 4;
}




























